.bg {
    background-color: #000033;
    text-align: center;
}

.logo {
    margin: 10px 10px;
}

#header {
    width: 500px;
    margin-bottom: 20px;
}

#reset_button {
    margin: 10px 0px;
}

.canvas-container {
    display: block;
    margin: 0 auto;
}