<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <% include head %>
  <body class="bg">
    <% include body %>

    <div>
      <button type="button" id="reset_button">リセット</button>
      <button type="button" id="snapshot_button">スナップショット</button>
    </div>

    <div id="loading" style="display:none">
      <img src="/img/now-loading.gif">
    </div>

    <% include footer %>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.min.js"></script>
  </body>
</html>
