<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <% include head %>
  <body class="bg">
    <% include body %>

    <% include footer %>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js"></script>
    <script type="text/javascript">var positions = <%- JSON.stringify(@positions) %></script>
    <script src="/js/snapshot.min.js"></script>
  </body>
</html>
